<div class="container">
    <h1>{{root.name}}</h1>
    <svg xmlns="http://www.w3.org/2000/svg"
    width="300"
    height="300"
    viewbox="0 0 300 300"
    class="chart">
    <g>
        <rect class="item"
        x="115"
        y="120"
        width="70"
        height="40"
        rx="6" ry="6"
        ></rect>
        <text x="150" y="145"
        class="item-text">{{root.name}}</text>
    </g>
</svg>
    <div class="toolbox">
        <button mat-icon-button aria-label="ZoomIn">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button aria-label="ZoomOut">
            <mat-icon>zoom_out</mat-icon>
        </button>
        <button mat-icon-button aria-label="Pan">
            <mat-icon>pan_tool</mat-icon>
        </button>
    </div>
</div>
<div class="details">
    <h2>Detalles #{{selected.id}}</h2>
    <form>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" name="name" matInput [(ngModel)]="selected.name"
            (change)="onChange()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <textarea name="description" matInput [(ngModel)]="selected.description"
        (change)="onChange()"></textarea>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <input type="text" name="level" disabled matInput [(ngModel)]="selected.level">
      </mat-form-field>
    </form>
</div>
<div class="action">
    <button mat-mini-fab color="accent" class="button" aria-label="add">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="button" aria-label="delete">
        <mat-icon>delete</mat-icon>
    </button>
</div>